Eindopdracht/.vs/
Eindopdracht/Debug/
Eindopdracht/Release/
Eindopdracht/x64/
Eindopdracht/Eindopdracht/Debug/
Eindopdracht/Eindopdracht/Release/
Eindopdracht/Eindopdracht/x64/
Eindopdracht/ipch/
Eindopdracht/Eindopdracht.opensdf
Eindopdracht/Eindopdracht.sdf
